.profile-row {
  color: white;
}
.profile-row .profile-sidebar {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: start;
  color: white;
  
}
.profile-row .profile-sidebar:first-child {
    margin-top: 7rem;
  }
  .profile-row .profile-sidebar .profile-sidebar-item {
    margin: 1rem;
  }
.profile-row .profile-sidebar a,
.profile-row .profile-sidebar Link {
  text-decoration: none !important;
  color: white !important;
}
.profile-image .content-side {
  height: 100vh;
}
.profile-row .content-side .profile-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 767px) {
  .profile-row .profile-sidebar {
    padding: 1.5rem 0.5rem !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .profile-row .profile-sidebar:first-child {
    margin-top: 0;
  }
} 
@media (min-width: 768px) and (max-width: 1000px) {
  .profile-row .profile-sidebar {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  

  .profile-row .profile-sidebar .profile-sidebar-item {
    margin: 1rem;
  }
}
