*{
  font-family: 'Poppins', sans-serif;
  
}
body {
  background-color: #0d0d0d;
  font-family: 'Poppins', sans-serif;
}
main {
  min-height: 80vh;
  overflow: hidden;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}
.product-image {
  height: 203 !important ;
  width: 255 !important;
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.logo {
  font-weight: bolder !important;
}
.logo span {
  font-style: italic;
  margin-right: 3px;
  margin-left: 2px;
  color: #ffffff;
  font-size: xx-large;
}

button.btn-block.btn.btn-primary {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
/*button.btn-block.btn.btn-primary:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}*/
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #38b58b;
  --bs-btn-border-color: #38b58b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #38b58b;
  --bs-btn-hover-border-color: #38b58b;
  --bs-btn-focus-shadow-rgb: 89, 103, 117;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #303d4a;
  --bs-btn-active-border-color: #2d3946;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3c4c5d;
  --bs-btn-disabled-border-color: #3c4c5d;
}
.form-check-input:checked {
  background-color: #75d4b4;
  border-color: #75d4b4;
}
.collection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collection-container{
  background-color: #f1f2f5 !important;
  height: fit-content;
  overflow: scroll;
  overflow-x: hidden;
  text-align: center;
  color: black;
}
.container-forgot {
  background-color: #f1f2f5 !important;
  height: fit-content;
  overflow: scroll;
  overflow-x: hidden;
  text-align: center;
  color: black;
}

.container-reset{
  text-align: left;
}

.container-forgot .otp-input {
  width: 50px;
  height: 50px;
  margin: 0.5rem 0.8rem;
  outline: none;
  border: solid 1px #adadad;
  text-align: center;
  font-weight: 700;
  font-size: x-large;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: all 0.25s ease-out;
}
.container-forgot .otp-input:focus {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: solid 2px #75d4b4;
}

.container-forgot .list-group-item {
  border: none;
}

.container-forgot .verify-btn {
  width: 100%;
  font-size: medium;
  font-weight: 600;
  background-color: #38b58b;
  border-color: #38b58b;
  padding: 0.8rem 0.2rem;
}
